---
layout: default
---

<div class="home">

  <h1 class="page-heading"></h1>

  <ul class="post-list">
  {% if paginator %}

    {% for post in paginator.posts %}
      <li>
        <span class="post-meta"><span class="date">{{ post.date | jdate: "%A %d %b %Y" | habify }}</span></span>

        <h2>
          <a class="post-link" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
        </h2>
        {{ post.content | strip_html | truncatewords: 35 }}
      </li>
    {% endfor %}

  {% else %}

    {% for post in site.posts %}
      <li>
        <span class="post-meta"><span class="date">{{ post.date | jdate: "%A %d %b %Y" | habify }}</span></span>

        <h2>
          <a class="post-link" href="{{ post.url | absolute_url }}">{{ post.title }}</a>
        </h2>
        {{ post.content | strip_html | truncatewords: 35 }}
      </li>
    {% endfor %}

  {% endif %}
  </ul>


  <div class="pagination">
    <p>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | absolute_url }}" class="next" style="float: left"> بعدی >> </a>
      {% endif %}

      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | absolute_url }}" class="previous" style="margin-right:0px;">&#60&#60    قبلی</a>
      {% endif %}
    </p>
  </div>

</div>