<!DOCTYPE html>

<html dir="rtl">

  {% include head.html %}

  <body>
    <div class="container">

    <section class="content">

        <div class="page-content">
          <div class="wrapper">
            {{ content }}
          </div>
        </div>
    </section>

    </div>
  </body>

</html>
