---
layout: default
---

<div class="home">

  <h1 class="page-heading">❖ &nbsp; همه‌ی نوشته‌ها</h1>

  <ul id="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta list-meta-col"><span class="date">{{ post.date | jdate: "%A %d %b %Y" | habify }}</span></span>
        <span><a href="{{ post.url  | absolute_url }}">{{ post.title }}</a></span>
      </li>
    {% endfor %}
  </ul>
</div>
