---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta"><span class="date">{{ page.date | jdate: "%A %d %b %Y" | habify}}</span><!--span>{% if page.author %} • {{ page.author }}{% endif %}</span-->{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  

  <small id="post-tags">
    {% for tag in page.tags %}
    <i class="icon-tags"></i>
    <a rel="tag" href="{{ tag | tag_url  }}">{{tag}}</a> &nbsp;
    {% endfor %}
  </small>

  <div style="border-top:1px dotted;">
    <p>
      {% if page.next %}
      <a href="{{ page.next.url | absolute_url }}" style="float: left"> {{ page.next.title }} >> </a>
      {% endif %}

      {% if page.previous %}
      <a href="{{ page.previous.url | absolute_url }}" style="margin-right:0px;">&#60&#60	 {{ page.previous.title }}</a>
      {% endif %}
    </p>
  </div>

  {% if site.disqus %}
    {% include disqus.html %}
  {% endif %}

</div>
